.header1 {
  position: static;
  width: 490.85px;
  height: 47.58px;
  left: 110.63px;
  top: 84.94px;
  margin: 1rem;

  /* H1 */

  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38.508px;
  line-height: 50px;

  color: #192c2e;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100pc;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.assignmentCard {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  width: 55pc;

  /* position: static;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; */

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.assignment {
  margin-top: 10px;
  margin-bottom: 10px;

  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.upcomingMeetingCard {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  width: 30pc;

  /* position: static;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
}

.eventsCard {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  position: static;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.commonQuestionsCard {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  position: static;
  /* width: 50pc;
  height: 20pc; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.yourGoalsCard {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  position: static;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.cardTitle {
  margin-bottom: 5px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #252525;
}

.dueDate {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: #007f77;
}

.arrowIcon {
  float: right;
}

.upperRightCornerText {
  float: right;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #007f77;
}

.joinButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.96509px;
  gap: 7.97px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;

  position: relative;
  width: 123px;
  height: 45px;
  left: calc(50% - 123px / 2 - 139px);
  top: calc(50% - 45px / 2 + 77.31px);

  background: #131736;
  border-radius: 25px;
}

.rescheduleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.96509px;
  gap: 7.97px;
  font-family: "IBM Plex Sans", sans-serif;

  width: 144px;
  height: 45px;
  left: calc(50% - 144px / 2 + 15.14px);
  top: calc(50% - 45px / 2 + 77.31px);

  border-radius: 30px;
}

/* .buttonContainer {
  position: absolute;
  width: 401px;
  height: 45px;
  left: 15.5px;
  top: 192.81px;
} */
